#navbar{
    flex-direction: column;
    height: 120px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
#navbar a{
    padding:10px 10px !important;
    margin: 0 !important;
}
#home .content h2{
    font-size: 22px;
}
#home .content h1{
    font-size: 32px;
}
.btn-primary{
    padding: 3px 10px !important;
    font-size: 13px;
}
.btn-secondary{
    padding: 3px 10px !important;
    font-size: 13px; 
}
.flex-items{
    flex-direction: column;
}
.grid .row .coloumn{
    flex-basis: 100% !important;
    max-width: 100% !important;
}